/* we can discuss how to seperate the css for each component, what is the trade of */
.chat-app {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: var(--chat-width, 100dw);
  background-color: var(--chat-background);
  display: flex;
  flex-direction: column;

  .connection {
    padding: 1rem;
  }
}

.chat-app--closed {
  display: none;
}

.chat-app__header {
  align-self: flex-start;
  padding: 1rem;
  border-bottom: 1px solid var(--chat-border-color);
  width: 100%;
  display: flex;
  justify-content: space-between;

  h3 {
    align-content: center;
    margin: 0;
  }

  button {
    align-self: baseline;
    background: none;
    border: none;
    font-size: 2rem;
    padding: 0;
  }
}

.message-list {
  width: 100%;
  overflow-y: auto;
  flex: 1;
  padding: 1rem;
  scroll-behavior: smooth;
  align-content: flex-end;
}

.message-list-item {
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  color: var(--chat-text-color);
}

.message-list-item__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;

  b {
    word-break: break-word;
  }
}

.message-list-item__content {
  margin: 0;
}

.message-composer {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 1.2rem;

  input {
    font-size: 1.2rem;
    flex-grow: 1;
  }

  button {
    flex-grow: 0.2;
    max-width: 120px;
  }
}

@media (576px < width <= 1366px) {
  :root {
    --chat-width: 100dw;
  }
}

@media (576px < width <= 1366px) and (orientation: portrait) {
  :root {
    --chat-width: 100dw;
  }
}

@media (576px < width <= 1366px) and (orientation: landscape) {
  :root {
    --chat-width: 30dw;
  }

  .chat-app {
    left: initial;
    box-shadow: var(--chat-container-box-shadow);
  }
}

@media (1366px < width) {
  :root {
    --chat-width: 30dw;
  }

  .chat-app {
    left: initial;
    box-shadow: var(--chat-container-box-shadow);
  }

  .chat-app__header {
    button {
      font-size: 1.5rem;
    }
  }
}
